files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/web.stdout.log",
                  "log_group_name": "/aws/elasticbeanstalk/production/var/log/web.stdout.log",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/web.stderr.log",
                  "log_group_name": "/aws/elasticbeanstalk/production/var/log/web.stderr.log",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }

commands:
  "01_restart_cloudwatch_agent":
    command: systemctl restart amazon-cloudwatch-agent
